.projects {
  background-color: white;
  width: 85vw;
  padding: 30px;
}

.btn {
  background-color: #ff000070;
  border: 2px solid red;
  border-radius: 8px;
  padding: 8px;
  color: black;
  font-size: 1.01em;
  margin-right: 17px;
  cursor: pointer;
}

.fileDetail {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}

.fileImgContainer img {
  height: auto;
}

.fileData {
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fileNavigation {
  display: flex;
  justify-content: space-evenly;
}

.secandary {
  background-color: rgba(0, 128, 0, 0.39);
  border: 2px solid green;
  border-radius: 8px;
  padding: 6px 13px;
  color: black;
  font-size: 1.01em;
  cursor: pointer;
  margin-right: 18px;
}

.popup {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 28%);
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  display: none;
}

.popup div {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 7px #0000006b;
}

.popup div textarea {
  /* width: 280px;
  height: 65px; */
  resize: none;
}

.third {
  background-color: rgba(128, 128, 128, 0.432);
  border: 2px solid gray;
  border-radius: 8px;
  padding: 6px 13px;
  color: black;
  font-size: 1.01em;
  cursor: pointer;
  margin-right: 18px;
}
